// adding normalize to override browser defaults
@import normalize

// provide clearfix
@import clearfix

// add variables file
@import vars

@import mixins

// Add gridding and responsive design
@import grid

@import button

@import links

// *
//   border: 2px solid red

.wrapper
  background: white

.container
  background: $mks-blue

.border-tester
  +border-radius(5px)
  background: darken($mks-blue, 30%)
  width: 100px
  height: 100px
  +user-select

.nav a
  width: 100%
  float: left

.bike
  border: 1px solid black
  padding: 0.25rem
  font-size: 0.75rem
  margin: 0.35rem
  background: white

.bike-grid
  text-align: center

.supporting-text
  font-size: 0.75em
  text-align: center

.footer
  background: darken($mks-blue, 50%)
  height: 6rem

.sponsors
  width: 100%
  float: left

.sponsor img
  width: 4rem
  height: 4rem
